@import '../styles/variables';

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 0 200px 0;
  @include mobile() {
    padding: 30px 10px;
  }
}

.title {
  font-size: 2rem;
  color: $color-base;
}

.content {
}
