@import '../styles/variables';

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  @include mediaQuery('md') {
    padding: 50px;
  }
}

.title {
  font-size: 2rem;
  color: $color-base;
}

.content {
  margin-top: 50px;
}
